.root {
    -fx-base: rgb(34, 40, 49);
    -fx-background: rgb(34, 40, 49);

    /*Controls*/
    -fx-color: #393e46;

    /*Text Fields and Table Backgrounds */
    -fx-control-inner-background: rgb(57, 62, 70);
    /*Alternating rows*/
    -fx-control-inner-background-alt: derive(-fx-control-inner-background, 2.5%);

    /*Texts by luminosity*/
    -fx-light-text-color: rgb(0, 200, 208);
    -fx-mid-text-color: rgb(0, 139, 148);
    -fx-dark-text-color: rgb(0, 99, 103);

    /*Accents*/
    -fx-accent: rgb(238, 238, 238);

    /* color of non-focused yet selected elements */
    -fx-selection-bar-non-focused: rgb(50, 50, 50);
}

/* Fix derived prompt color for text fields */
.text-input {
    -fx-prompt-text-fill: derive(-fx-control-inner-background, +50%);
}

/* Keep prompt invisible when focused (above color fix overrides it) */
.text-input:focused {
    -fx-prompt-text-fill: transparent;
}

/* Fix scroll bar buttons arrows colors */
.scroll-bar > .increment-button > .increment-arrow,
.scroll-bar > .decrement-button > .decrement-arrow {
    -fx-background-color: -fx-mark-highlight-color, rgb(220, 220, 220);
}

.scroll-bar > .increment-button:hover > .increment-arrow,
.scroll-bar > .decrement-button:hover > .decrement-arrow {
    -fx-background-color: -fx-mark-highlight-color, rgb(240, 240, 240);
}

.scroll-bar > .increment-button:pressed > .increment-arrow,
.scroll-bar > .decrement-button:pressed > .decrement-arrow {
    -fx-background-color: -fx-mark-highlight-color, rgb(255, 255, 255);
}